<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/Stylesheet.css">
</head>
<body id="MeineZutaten">
        <nav class="navbar navbar-expand-md navbar-dark bg-info text-white">
            <a class="navbar-brand Heading" href="./index.html">Delicious</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./AlleRezepte.html">Alle Rezepte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./MeineRezepte.html">Meine Rezepte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./MeineZutaten.html">Meine Zutaten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Abmelden</a>
                </li>
                </ul>
            </div>
        </nav>
          
    <div class="container">
        <h2 class="text-center my-3">Sachertorte</h2>
        <img src="./Images/Sachertorte.jpg" class="img-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h4 class="mt-5 font-weight-bold">Zutaten:</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">6 Eier</li>
                    <li class="list-group-item">130g Butter</li>
                    <li class="list-group-item">110g Staubzucker</li>
                    <li class="list-group-item">130g Bitterschokolade</li>
                    <li class="list-group-item">1 Päckchen Vanillezucker</li>
                    <li class="list-group-item">110g Kristallzucker</li>
                    <li class="list-group-item">130g Mehl</li>
                    <li class="list-group-item">8 EL Marillenmarmelade</li>
                    <li class="list-group-item">2 Becher Schokoladenglasur</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h4 class="mt-5 font-weight-bold">Zubereitung:</h4>
                <p class="my-2">
                        Für die Sachertorte erstmal die eier trennen und die Butter auf Zimmertemperatur bringen.
                        die Butter mit Staubzucker in einer Schüssel schaumig rühren und Dotter sowie Vanillezucker mit einrühren. 
                        Schokolade in einem Wasserbad schmelzen lassen, aber auf keinen Fall zu heiß werden lassen und ebenfalls in den Abtrieb einmengen.
                        Eiklar schlagen, mit Kristallzucker steif schlagen und ganz vorsichtig auf unter die übrige Masse heben. 
                        <br>
                        Für die Sachertorte die Eier trennen, Butter auf Zimmertemperatur bringen. In einer Schüssel Butter mit
                        Staubzucker schaumig rühren und Dotter sowie Vanillezucker einrühren. Schokolade in einem Wasserbad 
                        schmelzen, aber keinesfalls zu heiß werden lassen und ebenfalls in den Abtrieb einmengen. Eiklar schlagen,
                        mit Kristallzucker steif aufschlagen und vorsichtig unter die übrige Masse heben. Zuletzt das Mehl behutsam
                        einrühren. Eine Tortenspringform gut mit Butter ausstreichen und mit Mehl bestauben, Tortenteig einfüllen 
                        und im auf 180 °C vorgeheizten Backrohr etwa 1 Stunde lang backen. Torte erkalten lassen, dann durchschneiden. 
                        Die beiden Tortenböden mit passierter, leicht erwärmter Marmelade hauchdünn bestreichen und wieder 
                        zusammensetzen. Anschließend auch die Außenseite der Sachertorte mit Marmelade bestreichen, bevor man sie 
                        mit Schokoladeglasur überzieht.
                        
                </p>
            </div>
        </div>
    </div>
    
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./Javascripts/basic.js"></script>
</body>
</html>